/* algemeen */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f0f0f0, #fafafa);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.adminhead {
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#GoHome {
  color: white;
  text-decoration: none;
}

.zoekbalk {
  flex: 1;
}

#zoekbalk {
  height: 30px;
  padding-left: 10px;
  width: 100%;
  max-width: 300px;
  border: none;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: all 0.3s ease;
}

#zoekbalk::placeholder {
  color: #2bcdc7;
  font-weight: bold;
}

.site-naam {
  flex: 2;
  text-align: center;
}

#site-naam {
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-family: "JetBrains Mono", monospace;
}

.producten {
  flex: 1;
  text-align: right;
}

.prodnav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1em 0;
  padding: 10px 20px;
  border-radius: 10px;
}

.prodnav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.prodnav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.prodnav #filter {
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prodnav #filter:hover {
  background-color: #ff4444;
}

hr {
  width: 97%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  border: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.container-producten {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2em;
}

.product-categorien a:hover {
  color: #2bcdc7;
}
.product-categorien a.active {
  color: #2bcdc7;
}

footer {
  bottom: 0;
  left: 0;
  height: 44px;
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}
#school {
  padding: 10px;
  color: white;
}

#taal {
  padding: 10px;
  color: white;
}

.box {
  flex: 1 0 18%; /* 18% width for each box */
  margin: 1em;
  padding: 1em;
  width: 18%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#vuilbak-icoon {
  margin: 0 auto;
}

#potlood-icoon {
  margin: 0 auto;
}

.box:hover {
  transform: scale(1.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.box h2 {
  margin-bottom: 10px;
}

.box p {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.edit,
.delete {
  margin: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  width: 48%; /* Each button takes 48% of the width of the container */
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit img,
.delete img {
  width: 20px;
  height: px;
}

.edit:hover,
.delete:hover {
  background-color: #ff4444;
  transform: scale(1.05);
}

.extrabuttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.add,
.search {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add:hover,
.search:hover {
  background-color: #ff4444;
}

/* pop-up */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: auto;
}

#closeButton {
  margin-top: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-btn {
  margin-top: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  background-color: #ff4444;
}

.extrabuttons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: scale(1.5);
  z-index: 1000;
}

.extrabuttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #2bcdc7;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.extrabuttons button:hover {
  background-color: #ff4444;
}

.buttonsss {
  display: flex;
  flex-direction: row;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.yes-btn,
.no-btn {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.no-btn {
  background-color: red;
}
.yes-btn {
  background-color: #2bcdc7;
}

.yes-btn:hover {
  background-color: #32e4de;
}
.no-btn:hover {
  background-color: #fc5656;
}

/*CSS CODE VOOR POPUP VOEG ITEM TOE*/
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: auto;
}

.popup-content h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: calc(100% - 30px);
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  border-color: #2bcdc7;
  box-shadow: 0 0 5px rgba(43, 205, 199, 0.5);
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.popup-buttons .btn {
  flex: 1;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: 1.5;
  margin: 0 5px;
}

.popup-buttons .btn:hover {
  background-color: #2bcdc7;
}

/* CSS VOOR POPUP VERWIJDEREN */
.popup-background-verwijderen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content-verwijderen {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container-verwijderen {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.yes-btn-verwijderen,
.no-btn-verwijderen {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.yes-btn-verwijderen:hover {
  background-color: #d9534f;
  color: white;
}

.no-btn-verwijderen:hover {
  background-color: #5bc0de;
  color: white;
}

/* CSS VOOR POPUP WIJZIGEN */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.overlay.flex {
  display: flex;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}

.popup label {
  display: block;
  margin: 10px 0 5px;
}

.popup input[type="text"],
.popup input[type="file"],
.popup textarea,
.popup select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.popup textarea {
  resize: vertical;
}

.popup #saveContainer {
  display: flex;
  justify-content: space-between;
}

.popup #extraProductContainer {
  display: flex;
  justify-content: space-between;
}

#addRealProductButton,
#removeRealProductButton {
  font-size: small;
  width: 400px;
}

#addRealProductButton {
  margin-right: 5px;
}

#removeRealProductButton {
  margin-left: 5px;
}

.popup button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: 400;
}

.popup #closeButton,
.popup #saveButton {
  background: #f44336;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
}

/* filter pop-up */
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#merkenLijst {
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
  overflow-y: auto;
}

#merkenLijst div {
  flex: 1 1 30%;
  box-sizing: border-box;
  margin: 5px;
  text-align: center;
}

#merkenLijst a {
  cursor: pointer;
}

.close-btn {
  margin-top: 10px;
}

.close-btn-filter,
.delete-btn-filter,
.yes-btn-filter,
.no-btn-filter {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.button-container-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.hidden {
  display: none;
}

/* Scrollbar dikte */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Scrollbar achtergrondkleur */
::-webkit-scrollbar-track {
  background: #222831;
}

/* Scrollbar voorgrondkleur */
::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 10px;
}
