/*titel: */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
/*algemeen*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Poppins";
}
header {
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.zoekbalk,
.site-naam,
.profiel {
  flex-grow: 1;
  flex-basis: 0;
}

.zoekbalk {
  margin-left: 10px;
  height: auto;
}

#zoekbalk {
  border: none;
  background-color: #f2f2f2;
  height: 30px;
  padding-left: 10px;
  border-radius: 30px;
  width: 400px;
}
#zoekbalk::placeholder {
  color: #ff0000;
  font-weight: bold;
}

.site-naam {
  text-align: center;
}

#site-naam {
  text-decoration: none;
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
}

.profiel {
  text-align: right;
}
#profiel {
  width: 50px;
  height: 50px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 70px;
  padding: 5px 0 0 100px;
}
nav ul a {
  color: #231f20;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: bolder;
}
nav ul a:hover {
  color: red;
}
nav ul .huidigepagina {
  color: red;
}
nav .icon {
  color: black;
}
hr {
  color: red;
  width: 95%;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box {
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  margin: 8px;
  border-radius: 1em;
  display: flex;
}
.box img {
  height: 200px;
  width: 200px;
  height: auto;
  float: left;
}
#reserveren {
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
#reserveren:hover {
  background-color: #ff4444;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  

#school {
  padding: 10px;
  color: white;
}

#taal {
  padding: 10px;
  color: white;
}

.producten {
  text-align: right;
}
