<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>&lt;EHBLoanHub&gt;</title>
  <link rel="stylesheet" href="css/styleLog.css" />
</head>

<body>
  <div class="container">
    <div class="logo-box">
      <img src="pictures/logo_login.png" alt="logo" class="logo" />
    </div>
    <div class="login-box">
      <h1>Login</h1>
      <form id="signform">
        <label for="">E-mail</label>
        <input type="email" placeholder="Voer je e-mail in" />

        <label for="">Wachtwoord</label>
        <input type="password" placeholder="Voer je wachtwoord in" minlength="8" />
        <button type="button" id="log-btn">Log in</button>
      </form>

      <p>Nog geen account? <a href="/Signup">Start hier</a></p>
    </div>
  </div>

  <p>Nog geen account? <a href="/Signup">Start hier</a></p>
  </div>
  </div>

  <footer>
    <div id="school">&COPY; 2024 Erasmushogeschool Brussel</div>
    <div id="taal">Nederlands</div>
  </footer>
</body>
<script src="/js/login/Login.js"></script>

<!--FOOTER EVENTUEEL WEGLATEN-->
<footer>
  <div id="school">&COPY; 2024 Erasmushogeschool Brussel</div>
  <div id="taal">Nederlands</div>
</footer>
</body>

</html>
<footer>
  <div id="school">&COPY; 2024 Erasmushogeschool Brussel</div>
  <div id="taal">Nederlands</div>
</footer>
</body>
<script src="js/login/login.js"></script>

</html>