<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>&lt;EHBLoanHub&gt;</title>
    <link rel="stylesheet" href="styleLog.css" />
  </head>

  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form id="signform">
        <label for="">E-mail</label>
        <input type="email" placeholder="" />

        <label for="">Wachtwoord</label>
        <input type="password" placeholder="" />

        <button type="button" id="log-btn">Log in</button>
      </form>

      <p>Nog geen account? <a href="SignUp.html">Start hier</a></p>
    </div>

    <footer>
      <div id="school">&COPY; 2024 Erasmushogeschool Brussel</div>
      <div id="taal">Nederlands</div>
    </footer>
  </body>
</html>
