<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>&lt;EHBLoanHub&gt;</title>
  <link rel="stylesheet" href="css/styleLog.css" />
</head>

<body>
  <div class="signup-box">
    <h1>Sign up</h1>
    <form action="" id="signform">

      <label for="">E-mail</label>
      <input type="email" placeholder="" />

      <label for="">Wachtwoord</label>
      <input type="password" placeholder="" />

      <label for="">Wachtwoord bevestigen</label>
      <input type="password" placeholder="" />

      <button type="button" id="sign-btn">Sign Up</button>
    </form>
  </div>


  <p>Heb je al een account? <a href="Login.html">Log in</a></p>

  <footer>
    <div id="school">&COPY; 2024 Erasmushogeschool Brussel</div>
    <div id="taal">Nederlands</div>
  </footer>
</body>

</html>