<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>&lt;EHBLoanHub&gt;</title>
    <link rel="stylesheet" href="/css/producten.css">
    <link rel="icon" href="/pictures/EHB_site_logo-removebg-preview.png">
</head>

<body>
    <header class="adminhead">
        <div class="zoekbalk">
            <input id="zoekbalkNAAM" type="text" placeholder="Persoon zoeken...">
            <input id="zoekbalkID" type="text" placeholder="ID zoeken...">
        </div>
        <div class="site-naam">
            <a href="/Frontend/Admin-Interface/HoofdMenuAdmin.html" id="site-naam">&lt;EHBLoanHub&gt;</a>
        </div>
        <div class="producten"></div>
    </header>

    <nav class="prodnav">
        <ul class="product-categorien">
            <li><a href="/audio">Audio</a></li>
            <li><a href="/belichting" class="active">Belichting</a></li>
            <li><a href="/video">Video</a></li>
            <li><a href="/varia">Varia</a></li>
            <li><a href="/xr">XR</a></li>
            <li><img src="/pictures/filter2.png" alt="filter-icoon" id="filter-icoon"></li>
        </ul>
    </nav>
    <hr>
    <main>
        <div class="extrabuttons">
            <button class="add" id="add">Voeg product toe</button>
            <button class="search" id="search">Zoek gebruiker</button>
            <button><a href="HoofdMenuAdmin.html">Go home</a></button>
        </div>

        <div class="container-producten">
            <% products.forEach(product => { %>
                <div class="box">
                    <img src="../pictures/<%= product.afbeelding %>" alt="Product Image" />
                    <div>
                        <h2><%= product.MERK %>: <%= product.naam %></h2>
                        <p><%= product.Beschrijving %></p>
                        <button class="edit"><img src="/Frontend/pictures/potlood_edited.jpg" alt="Edit Icon" id="potlood-icoon" /></button>
                        <button class="delete"><img src="/Frontend/pictures/vuilbak_edited.jpg" alt="Delete Icon" id="vuilbak-icoon" /></button>
                    </div>
                </div>
            <% }); %>
        </div>

        <!-- Popup Overlay en Content -->
        <div id="popupOverlay" class="overlay">
            <div class="popup">
                <div id="popupContent">
                    <!-- hier word de popup geplaatst -->
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="school">&COPY; 2024 Erasmushogeschool Brussel</div>
        <div id="taal">Nederlands</div>
    </footer>

</body>
<script src="/js/zoekGebruiker.js"></script>
<script src="/js/voegProductToe.js"></script>
<script src="/js/productenadmin.js"></script>

</html>
