<!DOCTYPE html>
<html lang="es">
<head>
  <script src="/js/admin/checkadmin.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dividido en 2</title>
    <link rel="stylesheet" href="../../public/css/Stijlwijziging.css">
</head>
<body>

  <!-- btn om de popup te openen (nog te implementeren in bacjend)-->
  <button id="openPopup">Open</button>

  
  <div id="popup" class="popup">
    <div class="popup-content">


      <section id="about" class="about-product">
        <div class="wijzigen">
          <h2>Product wijzigen</h2>

          <div class="row">
  
            <div class="col">
              <h3>"naam van product"</h3>

              <form id="profileForm">
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Productnaam"
                  required
                  class="form-input"
                />
      
                <label for="photo" class="form-label">Foto veranderen:</label>
                <input type="file" id="photo" name="photo" accept="image/*" class="form-input" />
      
                <label for="description" class="form-label">Beschrijving veranderen:</label>
                <textarea
                  id="description"
                  name="description"
                  rows="4"
                  required
                  class="form-textarea"
                ></textarea>
      
                <label for="category" class="form-label">Categorie:</label>
                <select id="category" name="category" class="form-input">
                  <option value="categorie1">Audio</option>
                  <option value="categorie2">Belichting</option>
                  <option value="categorie3">Varia</option>
                  <option value="categorie4">Video</option>
                  <option value="categorie5">Xr</option>
                </select>
            </div>

            <div class="vertical-line"></div> 

            <div class="col">
              <h3 id="titel-status">Status van product</h3>
              <div class="content-status">
                <select id="status" name="status" class="form-input">
                  <option value="beschikbaar">Beschikbaar</option>
                  <option value="niet_beschikbaar">Niet Beschikbaar</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div id="saveContainer">
          <button id="closeButton">Sluiten</button>
          <button id="saveButton">Save</button>
        </div>
      </section>
      
    </div>
  </div>

  <script src="../../public/js/admin/wijzigingProduct.js"></script>

</body>
</html>
