<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/Frontend/User-interface/pictures/EHB_site_logo-removebg-preview.png"
      rel="icon"
    />
    <link rel="stylesheet" href="/Frontend/User-interface/verlenging.css" />
  </head>

  <body>
    <header>
      <div class="menu-container">
        <div class="volle-menu">
          <a href="#">
            <div id="menu"></div>
            <div id="menu"></div>
            <div id="menu"></div>
          </a>
        </div>

        <a href="#"
          ><img
            id="return"
            src="/Frontend/pictures/return-removebg-preview.jpg"
            alt="return"
        /></a>
      </div>
      <div class="site-naam">
        <a href="/Frontend/User-interface/HomeScreen.html" id="site-naam"
          >&lt;EHBLoanHub&gt;</a
        >
      </div>
      <div class="profiel">
        <a href="#"
          ><img
            id="profiel"
            src="/Frontend/pictures/winkelkar.png"
            alt="winkelkar"
        /></a>
        <a href="#"
          ><img
            id="profiel"
            src="/Frontend/pictures/circle-profile.png"
            alt="profiel"
        /></a>
      </div>
    </header>
    <main>
      <div class="gegevens">
        <div>
          <img
            id="profiel-foto"
            src="/Frontend/pictures/circle-profile.png"
            alt="profiel-foto"
          />
        </div>
        <div id="detail-gegevens">
          <div class="naam">
            <p id="voornaam">&gt;Voornaam</p>
            <p id="achternaam">Achternaam</p>
          </div>
          <div class="mail">&gt;voornaam.achernaam@student.ehb.be</div>
        </div>
      </div>
    </main>
    <footer>
      <div id="school">© 2024 Erasmushogeschool Brussel</div>
      <div id="taal">Nederlands</div>
    </footer>
  </body>
</html>
